<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nankai.flutter_nearby_connections">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.wifi.direct" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <!-- changed for requirements of Android 14-->
   <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>

   <application>
       <!-- changed for requirements of Android 14
       <service
           android:name=".NearbyService"
           android:enabled="true"
           android:exported="false"/>-->

        <service
                android:name=".NearbyService"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="specialUse">
            <property
                    android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                    android:value="Need permissions to establish an nearby connection"
            />
        </service>
    </application>


</manifest>
